$link-color: #e0ce25;
$link-decoration:                 rgba(0, 0, 0, .3);
$link-hover-color: #e0a839;
$link-hover-decoration:           rgba(2, 112, 224, .3);
$link-active-color:               darkred ;
$link-active-decoration:          darkred ;
$link-visited-color:              purple ;
$link-visited-decoration:         purple ;

$pseudo-color:                    $link-color ;
$pseudo-decoration:               $link-decoration ;
$pseudo-hover-color:              $link-hover-color ;
$pseudo-hover-decoration:         $link-hover-decoration ;
