:host{
  padding-top: 45px;
  padding-bottom: 60px;
  display: block;
  min-height: calc(100vh - 128px);
}


form{
  display: inline-block;

  .btn{
    padding: 0;


    .icon{
      font-size: 36px;
    }
  }
}
