a{
	text-decoration: none;
	border-bottom: 1px solid;
	outline: none;

	/** visited state */
	&:visited{
		@include link-color($link-visited-color);
	}

	&--external{
		position: relative;
		margin-right: 25px;

		&:after{
			content: "\e901";
			@include icomoon();
			bottom: 2px;
			font-size: .8em;
			margin-left: 3px;
			position: absolute;
		}
	}
}

.pseudo_link,
.pseudo{
	border-bottom: 1px dotted;
}

/** link state and no_visited class */
a,
.pseudo_link,
.pseudo{
	@include link-color($link-color);

	&,
	& * {
		cursor:  pointer;
	}
}

/** hover state */
a:hover,
.pseudo_link:hover,
.pseudo:hover{
	@include link-color($link-hover-color);
}

a.no_visited:visited,
.no_visited a:visited,
[class$="--novisited-link"] a:visited,
.pseudo:visited{
	@include link-color($link-color);

	&:hover{
		@include link-color($link-hover-color);
	}
}

/**non underline class*/
a.a--nounderline,
.pseudo_link.a--nounderline,
.pseudo.a--nounderline{
	border: none !important;
}

/** block-modifier*/
//@include _alt_modifier('.with-cover header', $link-color-white, $link-color-white-hover);
@include _alt_link('black', #000, $gray-light);
@include _alt_link('white', #fff, rgba(255, 255, 255, .6));