.foldable {
  position: relative;
  margin-bottom: 45px;

  &__content{
    transition: max-height .4s ease;
    overflow: hidden;
    max-height: 145px;
  }

  &--open &__content{
    max-height: none;
  }

  &__opener {
    margin-top: 15px;
  }
}
