<div class="container-fluid container-fluid--layout container-fluid--content">
  <div class="row">
    <div class="col col-md-8">
      <h1>Заголовок первого уровня<br>в&nbsp;две строки</h1>
      <p>Было уже около одиннадцати часов, когда князь позвонил в&nbsp;квартиру генерала. Генерал жил во&nbsp;втором
        этаже и&nbsp;занимал помещение по&nbsp;возможности скромное, хотя и&nbsp;пропорциональное своему значению. Князю
        отворил ливрейный слуга, и&nbsp;ему долго нужно было объясняться с&nbsp;этим человеком, с&nbsp;самого начала
        посмотревшим на&nbsp;него и&nbsp;на&nbsp;его узелок подозрительно. Наконец на&nbsp;неоднократное и&nbsp;точное
        заявление, что он&nbsp;действительно князь Мышкин и&nbsp;что ему непременно надо видеть генерала по&nbsp;делу
        необходимому, недоумевающий человек препроводил его рядом, в&nbsp;маленькую переднюю, перед самою приемной, у&nbsp;кабинета,
        и&nbsp;сдал его с&nbsp;рук на&nbsp;руки другому человеку, дежурившему по&nbsp;утрам в&nbsp;этой передней и&nbsp;докладывавшему
        генералу о&nbsp;посетителях. Этот другой человек был во&nbsp;фраке, имел за&nbsp;сорок лет и&nbsp;озабоченную
        физиономию и&nbsp;был специальный, кабинетный прислужник и&nbsp;докладчик его превосходительства, вследствие
        чего и&nbsp;знал себе цену.</p>
      <h2>Заголовок второго уровня <br>в&nbsp;две строки</h2>
      <p>В&nbsp;конце ноября, в&nbsp;оттепель, часов в&nbsp;девять утра, поезд Петербургско-Варшавской железной дороги
        на&nbsp;всех парах подходил к&nbsp;Петербургу. Было так сыро и&nbsp;туманно, что насилу рассвело; в&nbsp;десяти
        шагах, вправо и&nbsp;влево от&nbsp;дороги, трудно было разглядеть хоть что-нибудь из&nbsp;окон вагона. Из&nbsp;пассажиров
        были и&nbsp;возвращавшиеся из-за границы; но&nbsp;более были наполнены отделения для третьего класса, и&nbsp;всё
        людом мелким и&nbsp;деловым, не&nbsp;из&nbsp;очень далека. Все, как водится, устали, у&nbsp;всех отяжелели за&nbsp;ночь
        глаза, все назяблись, все лица были бледно-желтые, под цвет тумана.</p>
      <h3>Заголовок третьего уровня <br>в&nbsp;две строки</h3>
      <p>Завязался разговор. Готовность белокурого молодого человека в&nbsp;швейцарском плаще отвечать на&nbsp;все
        вопросы своего черномазого соседа была удивительная и&nbsp;без всякого подозрения совершенной небрежности,
        неуместности и&nbsp;праздности иных вопросов. Отвечая, он&nbsp;объявил, между прочим, что действительно долго не&nbsp;был
        в&nbsp;России, с&nbsp;лишком четыре года, что отправлен был за&nbsp;границу по&nbsp;болезни, по&nbsp;какой-то
        странной нервной болезни, вроде падучей или виттовой пляски, каких-то дрожаний и&nbsp;судорог. Слушая его,
        черномазый несколько раз усмехался; особенно засмеялся&nbsp;он, когда на&nbsp;вопрос: &laquo;Что&nbsp;же,
        вылечили?&raquo;&nbsp;&mdash; белокурый отвечал, что &laquo;нет, не&nbsp;вылечили&raquo;.</p>
      <p>Оказалось, что и&nbsp;это было так: белокурый молодой человек тотчас&nbsp;же и&nbsp;с&nbsp;необыкновенною
        поспешностью в&nbsp;этом признался.</p>

      <h2>Заголовок второго уровня <br>в&nbsp;две строки</h2>
      <h3>Заголовок третьего уровня, идущий сразу после заголовка #h2</h3>
      <h4>Заголовок четвертого уровня <br>в&nbsp;две строки, идущий сразу после заголовка #h3</h4>

      <h2>Ссылки</h2>
      <p>На&nbsp;сайте может встречаться несколько видов ссылок. Например, ссылка на&nbsp;<a href="https://yandex.ru/"
                                                                                             class="a--external">Яндекс</a>
        является внешней. Внутренние ссылки могут открываться по&nbsp;умолчанию в&nbsp;текущем окне (например, переход
        на&nbsp;<a routerLink="/">главную страницу</a>) или в&nbsp;<a routerLink="/" target="_blank">новом окне</a>
        (например, для показа изображений в&nbsp;оригинальном размере). Для <span class="pseudo">псевдоссылок</span>
        используются точки.</p>
      <p>Для ссылок <a routerLink="/" c lass="a--border-off">без подчеркивания</a> используется класс <code>a--border-off</code>
        и <code>pseudo--border-off</code> соответственно.</p>
      <h2>Списки</h2>
      <h3>Нумерованные</h3>
      <ol>
        <li>О, вы&nbsp;угадали опять,&nbsp;&mdash; подхватил белокурый молодой человек,&nbsp;&mdash; ведь действительно
          почти ошибаюсь, то&nbsp;есть почти что не&nbsp;родственница; до&nbsp;того даже, что&nbsp;я, право, нисколько и&nbsp;не&nbsp;удивился
          тогда, что мне туда не&nbsp;ответили. Я&nbsp;так и&nbsp;ждал.
        </li>
        <li>Даром деньги на&nbsp;франкировку письма истратили. Гм... по&nbsp;крайней мере простодушны и&nbsp;искренны, а&nbsp;сие
          похвально! Гм... генерала&nbsp;же Епанчина знаем-с, собственно, потому, что человек общеизвестный; да&nbsp;и&nbsp;покойного
          господина Павлищева, который вас в&nbsp;Швейцарии содержал, тоже знавали-с, если только это был Николай
          Андреевич Павлищев, потому что их&nbsp;два двоюродные брата. Другой доселе в&nbsp;Крыму, а&nbsp;Николай
          Андреевич, покойник, был человек почтенный, и&nbsp;при связях, и&nbsp;четыре тысячи душ в&nbsp;свое время
          имели-с...
        </li>
        <li>Точно так, его звали Николай Андреевич Павлищев,&nbsp;&mdash; и, ответив, молодой человек пристально и&nbsp;пытливо
          оглядел господина всезнайку.
        </li>
      </ol>
      <h3>Маркированные</h3>
      <ul>
        <li>Куда&nbsp;же приехали-то?</li>
        <li>То&nbsp;есть где остановлюсь?.. Да&nbsp;не&nbsp;знаю еще, право... так...</li>
        <li>Не&nbsp;решились еще?</li>
      </ul>

      <h2>Device detector переменные</h2>
      <pre>{{deviceInfo | json}}</pre>

      <h2>Foldable элемент</h2>
      <div class="foldable" [class.foldable--open]="isShowFoldable">
        <div class="foldable__content">
          <p>Завязался разговор. Готовность белокурого молодого человека в&nbsp;швейцарском плаще отвечать на&nbsp;все
            вопросы своего черномазого соседа была удивительная и&nbsp;без всякого подозрения совершенной небрежности,
            неуместности и&nbsp;праздности иных вопросов. Отвечая, он&nbsp;объявил, между прочим, что действительно
            долго не&nbsp;был в&nbsp;России, с&nbsp;лишком четыре года, что отправлен был за&nbsp;границу по&nbsp;болезни,
            по&nbsp;какой-то странной нервной болезни, вроде падучей или виттовой пляски, каких-то дрожаний и&nbsp;судорог.
            Слушая его, черномазый несколько раз усмехался; особенно засмеялся&nbsp;он, когда на&nbsp;вопрос: &laquo;Что&nbsp;же,
            вылечили?&raquo;&nbsp;&mdash; белокурый отвечал, что &laquo;нет, не&nbsp;вылечили&raquo;.</p>
          <p>Завязался разговор. Готовность белокурого молодого человека в&nbsp;швейцарском плаще отвечать на&nbsp;все
            вопросы своего черномазого соседа была удивительная и&nbsp;без всякого подозрения совершенной небрежности,
            неуместности и&nbsp;праздности иных вопросов. Отвечая, он&nbsp;объявил, между прочим, что действительно
            долго не&nbsp;был в&nbsp;России, с&nbsp;лишком четыре года, что отправлен был за&nbsp;границу по&nbsp;болезни,
            по&nbsp;какой-то странной нервной болезни, вроде падучей или виттовой пляски, каких-то дрожаний и&nbsp;судорог.
            Слушая его, черномазый несколько раз усмехался; особенно засмеялся&nbsp;он, когда на&nbsp;вопрос: &laquo;Что&nbsp;же,
            вылечили?&raquo;&nbsp;&mdash; белокурый отвечал, что &laquo;нет, не&nbsp;вылечили&raquo;.</p>
        </div>
        <div class="foldable__opener">
               <span class="pseudo pseudo--accent"
                     (click)="isShowFoldable = !isShowFoldable">
              <span *ngIf="!isShowFoldable">Прочитать полностью</span>
              <span *ngIf="isShowFoldable">Свернуть обратно</span>
            </span>
        </div>
      </div>

      <h2>Блок &laquo;Важно&raquo;</h2>
      <p>Иногда среди скучного серого текста страницы, нужно вставить врезку с&nbsp;важной для пользователя
        информацией.</p>
      <div class="important">
        <p>4.4. В&nbsp;местах, где движение регулируется, пешеходы должны руководствоваться сигналами регулировщика или
          пешеходного светофора, а&nbsp;при его отсутствии&nbsp;&mdash; транспортного светофора.</p>
      </div>

      <h2>Форма с валидацией</h2>
      <p>Скоро она тут будет.</p>

      <h2>Файлы для скачивания</h2>
      <div class="row">
        <div class="col-12 col-md-4" *ngFor="let file of files;trackBy:identify">
          <div class="file">
            <div class="file__title"><a [download]="file.title" [href]="file.link" target="_blank"
            class="a--brand a--border-off no_visited"><i [ngClass]="'icon--' + file.ext" class="icon"></i>{{file.title}}</a></div>
            <div class="file__size">{{file.ext | uppercase}},&nbsp;{{file.display_size | uppercase}}</div>
          </div>
        </div>
      </div>

      <h2>Иконки</h2>
      <p>Иконки генерируются сервисом <a href="https://icomoon.io/" target="_blank" rel="nofollow">icomoon.io</a>.</p>
      <p>На сайт новые иконки добавляются с помощью модуля <a href="https://www.npmjs.com/package/icomoon-build/" target="_blank" rel="nofollow">icomoon-build</a>.</p>
      <p>Для этого необходимо импортнуть с сайта сервиса JSON проекта и запустить в консоли:</p>
      <pre>npm run icon-build</pre>
      <h4>Отображение</h4>
      <div class="icon-set">
        <i class="icon icon-google-plus"></i>
        <i class="icon icon-twitter"></i>
        <i class="icon icon-github"></i>
        <i class="icon icon-file-pdf"></i>
        <i class="icon icon-file-word"></i>
        <i class="icon icon-file-excel"></i>
        <i class="icon icon-file-picture"></i>
        <i class="icon icon-file-empty"></i>
      </div>
    </div>
    <aside class="col col-md-3 offset-md-1">
      <h3>Кнопки используемые на&nbsp;сайте</h3>
      <p>Смысл системы кнопок в&nbsp;том, что в&nbsp;любом месте сайта они должны отображаться в&nbsp;одном стиле. Внешний вид должен
        легко управляться модификаторами размера и&nbsp;стиля.</p>
      <p>При необходимости кнопка должна легко превращаться в&nbsp;обычную ссылку.</p>

      <h4>Большие <span class="bg-info">.btn-lg</span></h4>
      <div class="form-group">
        <button class="btn btn-lg">Стандартная</button>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-outline">Альтернативная</button>
      </div>
      <div class="form-group">
        <a routerLink="/" class="btn btn-link btn-lg">Ссылка</a>
      </div>

      <h4>Стандартные <span class="bg-info">.btn</span></h4>
      <div class="form-group">
        <button class="btn">Стандартная</button> <button class="btn" disabled="disabled">Дизейбл</button>
      </div>
      <div class="form-group">
        <button class="btn btn-outline">Альтернативная</button>
      </div>
      <div class="form-group">
        <a routerLink="/" class="btn btn-link">Ссылка</a>
      </div>

      <h4>Средние <span class="bg-info">.btn-md</span></h4>
      <div class="form-group">
        <button class="btn btn-md">Стандартная</button>
      </div>
      <div class="form-group">
        <button class="btn btn-outline btn-md">Альтернативная</button>
      </div>
      <div class="form-group">
        <a routerLink="/" class="btn btn-link btn-md">Ссылка</a>
      </div>

      <h4>Маленькие <span class="bg-info">.btn-sm</span></h4>
      <div class="form-group">
        <button class="btn btn-sm">Стандартная</button>
      </div>
      <div class="form-group">
        <button class="btn btn-sm btn-outline">Альтернативная</button>
      </div>
      <div class="form-group">
        <a routerLink="/" class="btn btn-link btn-sm">Ссылка</a>
      </div>
    </aside>
  </div>
</div>
