.important {
  background: #fff;
  padding: 40px 150px 40px 50px;
  border-left: 4px solid $primary;
  font-size: 28px;
  line-height: 38px;
  box-shadow: 0 5px 14px rgba(0,0,0,.05);
  margin-bottom: 50px;
}
